<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<juice-tenants></juice-tenants>

<!-- <juice-dict-builder [model]="settings" [parent]="parent" [type]="ModelType.Configuration" (saved)="settingsSaved($event)" (cancelled)="settingsCancelled()" (onchange)="settingsChanged($event)" style="width: 600px; margin: 10px;"></juice-dict-builder> -->

<!-- <juice-tenant-create (cancelled)="createCancelled()" (created)="tenantCreated($event)" style="width: 600px; margin: 10px;"></juice-tenant-create>

<juice-tenant-update (cancelled)="updateCancelled($event)" (updated)="tenantUpdated($event)" [id]="id" style="width: 600px; margin: 10px;"></juice-tenant-update>

<juice-tenant-detail *ngIf="id!=''" style="max-width: 600px;" [tenantIdentifier]="id"></juice-tenant-detail>

<juice-tenant-summary *ngIf="identifier!=''" style="max-width: 600px;" [tenantIdentifier]="identifier"></juice-tenant-summary> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
