branches:
  - master
  - name: alpha
    prerelease: true
debug: true
ci: true
dryRun: false
plugins:
  - "@semantic-release/exec"
    prepareCmd: "set-version ${nextRelease.version}"
    publishCmd: "publish ${nextRelease.version}"
