@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme){
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');
    $green-palette: mat.define-palette(mat.$green-palette, 500, 300, 700);
    .color-primary {
        color: mat.get-color-from-palette($primary-palette, 'darker') !important;
        .mdc-list-item__primary-text{
            color: mat.get-color-from-palette($primary-palette, 'darker') !important;
        }
        &.mat-mdc-menu-item .mat-icon-no-color{
            color: mat.get-color-from-palette($primary-palette, 'darker') !important;
        }
    }

    .color-accent {
        color: mat.get-color-from-palette($accent-palette, 'darker') !important;
        .mdc-list-item__primary-text{
            color: mat.get-color-from-palette($accent-palette, 'darker') !important;
        }
        &.mat-mdc-menu-item .mat-icon-no-color{
            color: mat.get-color-from-palette($accent-palette, 'darker') !important;
        }
    }
    
    .color-warn {
        color: mat.get-color-from-palette($warn-palette, 'darker') !important;
        .mdc-list-item__primary-text{
            color: mat.get-color-from-palette($warn-palette, 'darker') !important;
        }
        &.mat-mdc-menu-item .mat-icon-no-color{
            color: mat.get-color-from-palette($warn-palette, 'darker') !important;
        }
    }    

    .color-success, 
    .mat-success.mat-mdc-button:not(:disabled){
        color: mat.get-color-from-palette($green-palette, 'darker') !important;
        .mdc-list-item__primary-text{
            color: mat.get-color-from-palette($green-palette, 'darker') !important;
        }
        &.mat-mdc-menu-item .mat-icon-no-color{
            color: mat.get-color-from-palette($green-palette, 'darker') !important;
        }
    }

    .bg-accent {
        background-color: mat.get-color-from-palette($accent-palette, 'lighter') !important;
    }
    
    .bg-warn {
        background-color: mat.get-color-from-palette($warn-palette, 'lighter') !important;
    }    

    .bg-success{
        background-color: mat.get-color-from-palette($green-palette, 'lighter') !important;
    }
}
